
RewriteOptions inherit
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# Rewrite URLs like /reviews/subname/dip to /reviews.php?sub=subname&dip=dip
RewriteRule ^blog-details/([^/]+)/?$ blog-details.php?slug=$1 [QSA,NC,L]
RewriteRule ^group/([^/]+)/?$ group.php?slug=$1 [QSA,NC,L]
RewriteRule ^products/([^/]+)/?$ products.php?slug=$1 [QSA,NC,L]
RewriteRule ^vendor-services/([^/]+)/?$ vendor-services.php?slug=$1 [QSA,NC,L]
RewriteRule ^therapist/([^/]+)/?$ therapist.php?slug=$1 [QSA,NC,L]
RewriteRule ^vendor-products/([^/]+)/?$ vendor-products.php?slug=$1 [QSA,NC,L]
RewriteRule ^vendor-profile/([^/]+)/?$ vendor-profile.php?slug=$1 [QSA,NC,L]
RewriteRule ^buy-advert/([^/]+)/?$ buy-advert.php?slug=$1 [QSA,NC,L]
RewriteRule ^vendor-pricing/([^/]+)/?$ vendor-pricing.php?slug=$1 [QSA,NC,L]
RewriteRule ^single-questions/([^/]+)/?$ single-questions.php?slug=$1 [QSA,NC,L]
RewriteRule ^add-group-blog/([^/]+)/?$ add-group-blog.php?slug=$1 [QSA,NC,L]
RewriteRule ^group-blog/([^/]+)/?$ group-blog.php?slug=$1 [QSA,NC,L]
RewriteRule ^group-blogs/([^/]+)/?$ group-blogs.php?slug=$1 [QSA,NC,L]
RewriteRule ^create-group-question/([^/]+)/?$ create-group-question.php?slug=$1 [QSA,NC,L]
RewriteRule ^group-questions/([^/]+)/?$ group-questions.php?slug=$1 [QSA,NC,L]
RewriteRule ^single-blog/([^/]+)/?$ single-blog.php?slug=$1 [QSA,NC,L]
RewriteRule ^group-single-questions/([^/]+)/?$ group-single-questions.php?slug=$1 [QSA,NC,L]
RewriteRule ^book-appointment/([^/]+)/?$ book-appointment.php?slug=$1 [QSA,NC,L]
RewriteRule ^article/([^/]+)/?$ article.php?slug=$1 [QSA,NC,L]
RewriteBase /
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]   
RewriteRule ^ %1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [NC,L]   