RewriteEngine On

# Don't rewrite if it's an actual file
RewriteCond %{REQUEST_FILENAME} !-f
# Don't rewrite if it's an actual directory
RewriteCond %{REQUEST_FILENAME} !-d
# Add .php extension internally
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]
